/ArithmeticOperators.class
/HelloWorld.class
/ArthimeticOperators.class
/ExampleArthimetic.class
/RelationalOperators.class
/UnaryOperators.class
/IncrmntDecrmnt.class
/LogicalOperators.class
/TernaryOperators.class
/Task1.class
/IfElse.class
/Switch.class
/Scanner.class
/Scannerrrrrr.class
/Arguments.class
/Task2.class
/Calculator.class
/Task3.class
/JaiShreeRam.class
/ForLoop.class
/WhileLoop.class
/DoWhileLoop.class
/NestedLoop1.class
/NestedLOOP2.class
/tryyy.class
/NestedForLoop.class
/NestFor3.class
/NestFor4.class
/Break.class
/Continue.class
/Practise1.class
/Practise2.class
/practise3.class
/PrimeNumber.class
/Tables.class
